doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    style: :stylus
      html,body { width: 100%; height: 100%; padding: 0; margin: 0 }
      .scroll { overflow-y: scroll }
      textarea.form-control
        font-family: monospace
        font-size: 1.25em

      *[ld=json]
        white-space: pre-wrap
        font-family: monospace
        font-size: 1.25em
  body.p-4
    .h-100.position-relative
      .d-flex.pb-2.w-100.position-absolute.justify-content-around
        .flex-grow-1
          .btn.btn-outline-secondary.mr-2(ld="undo") Undo
          .btn.btn-outline-secondary(ld="redo") Redo
        .text-right
          .btn.btn-text Download:
          a.btn.btn-primary.mr-2(href="https://raw.githubusercontent.com/plotdb/ctrlz/master/dist/ctrlz.bundle.min.js") ctrlz.bundle.min.js
          a.btn.btn-outline-secondary.mr-2(href="https://raw.githubusercontent.com/plotdb/ctrlz/master/dist/ctrlz.min.js") ctrlz.js ( unbundled )
          a.btn.btn-outline-secondary.mr-2(href="https://github.com/plotdb/json0") @plotdb/json0 modules
          a.btn.btn-outline-secondary(href="https://github.com/plotdb/ctrlz") Github Repo
      .row.flex-grow-1.h-100(style="padding-top:3.5em")
        .col-md.h-100
          .w-100.h-100.scroll.p-4.border.shadow-sm.rounded(ld="view")
        .col-md.h-100
          .w-100.h-50.pb-3
            textarea.form-control.w-100.h-100.scroll.border.shadow-sm.rounded(ld="text")
              include sample.md
          .w-100.h-50.pt-3: .w-100.h-100.scroll.p-4.border.shadow-sm.rounded.bg-light(ld="json")

    +script("assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("assets/lib/ldview/main/index.min.js")
    +script("assets/lib/md2json/md2json.min.js")
    +script("assets/lib/marked/marked.min.js")
    +script("assets/lib/ctrlz/dev/ctrlz.bundle.min.js")
    +script("assets/lib/sharedb-wrapper/client.bundle.min.js")
    +script("js/index.js")
