doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("assets/lib/ldui/ldui.min.css")
    style: :stylus
      html,body { width: 100%; height: 100%; padding: 0; margin: 0 }
      .scroll { overflow-y: scroll }
      textarea.form-control
        font-family: monospace
        font-size: 1.25em

      *[ld=json]
        white-space: pre-wrap
        font-family: monospace
        font-size: 1.25em
  body.p-4
    .h-100.position-relative
      .d-flex.pb-2.w-100.position-absolute.justify-content-around
        .flex-grow-1
          .btn.btn-outline-secondary.mr-2(ld="undo") Undo
          .btn.btn-outline-secondary(ld="redo") Redo
        .text-right
          .btn.btn-text Download:
          a.btn.btn-primary.mr-2(href="https://raw.githubusercontent.com/plotdb/ctrlz/master/dist/ctrlz.bundle.min.js") ctrlz.bundle.min.js
          a.btn.btn-outline-secondary.mr-2(href="https://raw.githubusercontent.com/plotdb/ctrlz/master/dist/ctrlz.min.js") ctrlz.js ( unbundled )
          a.btn.btn-outline-secondary.mr-2(href="https://raw.githubusercontent.com/plotdb/ctrlz/master/dist/ot-json0.js") ot-json modules
          a.btn.btn-outline-secondary(href="https://github.com/plotdb/ctrlz") Github Repo
      .row.flex-grow-1.h-100(style="padding-top:3.5em")
        .col-md.h-100
          .w-100.h-100.scroll.p-4.border.shadow-sm.rounded(ld="view")
        .col-md.h-100
          .w-100.h-50.pb-3
            textarea.form-control.w-100.h-100.scroll.border.shadow-sm.rounded(ld="text")
              include sample.md
          .w-100.h-50.pt-3: .w-100.h-100.scroll.p-4.border.shadow-sm.rounded.bg-light(ld="json")

    +script("assets/lib/ldui/ldui.min.js")
    +script("assets/lib/md2json/md2json.min.js")
    +script("assets/lib/marked/marked.min.js")
    +script("assets/lib/ctrlz/ctrlz.bundle.min.js")
    script: :lsc
      window.ot-json0 = require("ot-json0")
      lc = {json: {}, text: ""}
      md = require("md-2-json")
      hist = new ctrlz!
      view = new ldView do
        root: document.body
        handler: do
          view: ({node}) ->
            node.innerHTML = marked lc.text
          json: ({node}) ->
            node.innerText = JSON.stringify(lc.json, null, 4)
          
        action: do
          click: do
            undo: ({node}) ->
              lc.json = json = hist.undo!
              console.log ">", lc.json
              lc.text = md.toMd json
              view.get(\text).value = lc.text
              view.render!
            redo: ({node}) ->
              lc.json = hist.redo!
              lc.text = md.toMd lc.json
              view.get(\text).value = lc.text
              view.render!

          input: do
            text: ({node}) ->
              try
                json = md.parse(lc.text = (node.value or ''))
              catch e
                return
              hist.update lc.json = json
              view.render!

      try
        json = md.parse(lc.text = (view.get(\text).value or ''))
        hist.update lc.json = json
        view.render!
      catch e

